.popup-img-wrap,
.popup-img-skin,
.popup-img-outer,
.popup-img-inner,
.popup-img-image,
.popup-img-wrap iframe,
.popup-img-wrap object,
.popup-img-nav,
.popup-img-nav span,
.popup-img-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.popup-img-wrap{position:absolute;top:0;left:0;z-index:8020;}
.popup-img-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.popup-img-opened{z-index:8030;}
.popup-img-opened .popup-img-skin{-webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);}
.popup-img-outer, .popup-img-inner{position:relative;}
.popup-img-inner{overflow:hidden;}
.popup-img-type-iframe .popup-img-inner{-webkit-overflow-scrolling:touch;}
.popup-img-error{color:#444;margin:0;padding:15px;white-space:nowrap;}
.popup-img-image, .popup-img-iframe{display:block;width:100%;height:100%;}
.popup-img-image{max-width:100%;max-height:100%;}
#popup-img-loading, .popup-img-close, .popup-img-prev span, .popup-img-next span{background-image:url('../images/popup-img_sprite.png');}
#popup-img-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}
#popup-img-loading div{width:44px;height:44px;background:url('../images/popup-img_loading.gif') center center no-repeat;}
.popup-img-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;}
.popup-img-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('../images/blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}
.popup-img-prev{left:0;}
.popup-img-next{right:0;}
.popup-img-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.popup-img-prev span{left:10px;background-position:0 -36px;}
.popup-img-next span{right:10px;background-position:0 -72px;}
.popup-img-nav:hover span{visibility:visible;}
.popup-img-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}
.popup-img-lock{overflow:hidden !important;width:auto;}
.popup-img-lock body{overflow:hidden !important;}
.popup-img-lock-test{overflow-y:hidden !important;}
.popup-img-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('../images/popup-img_overlay.png');}
.popup-img-overlay-fixed{position:fixed;bottom:0;right:0;}
.popup-img-lock .popup-img-overlay{overflow:auto;overflow-y:scroll;}
.popup-img-title{visibility:hidden;position:relative;text-shadow:none;z-index:8050;}
.popup-img-opened .popup-img-title{visibility:visible;}
.popup-img-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}
.popup-img-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}
.popup-img-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.popup-img-title-inside-wrap{padding-top:10px;}
.popup-img-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, .8);}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5){#popup-img-loading, .popup-img-close, .popup-img-prev span, .popup-img-next span{background-image:url('../images/popup-img_sprite@2x.png');background-size:44px 152px;}
#popup-img-loading div{background-image:url('../images/popup-img_loading@2x.gif');background-size:24px 24px;}
}