a:hover,
a:focus,
.header.navbar.navbar-small .navbar-nav > li.active > a,
.header.navbar.navbar-small .navbar-nav > li > a:hover,
.nav > li > a:hover,
.header.navbar .navbar-nav > li > a:hover::before,
.header.navbar.navbar-small .navbar-nav > li.active > a:before,
.text-color,
.title-color,
.aboutus .item-box i,
.quote small,
.ourteam:hover .social a,
.filter-button:hover,
.filter-button.active,
.filter-button:hover::before,
.filter-button.active:before,
.blog_posts .thumbnail:hover h3,
.blog_posts .thumbnail:hover .date-rating i,
.sidebar-block .list-group-item a,
.contact-info i,
.footer .social-list a:hover i{color:#f31b4b !important;}
.btn,
.progress-bar,
.service-item-box:hover .icon,
.portfolio_item .overlay-background .inner,
.testimonials .carousel-indicators li.active,
.highlight,
.carousel-indicators li.active,
.sidebar .list-group .badge,
#scroll-to-top{background:#f31b4b;}
.header.navbar .navbar-nav > li > a:hover::before,
.header.navbar.navbar-small .navbar-nav > li.active > a:before{text-shadow:10px 0 #f31b4b, -10px 0 #f31b4b;}
.text-theme:before{border:3px solid #f31b4b;}
.service-item-box:hover .hi-icon:after{box-shadow:0 0 0 2px #f31b4b;}
.service-item-box:hover{box-shadow:0 1px 7px #f31b4b;border:1px solid #f31b4b;}
.ourteam:hover{box-shadow:0 1px 7px #f31b4b;border:1px solid #f31b4b;}
.ourteam:hover .image img{border:1px solid #f31b4b;}
.filter-button:hover::before,
.filter-button.active:before{text-shadow:10px 0 #f31b4b, -10px 0 #f31b4b;}
.pricing-tables .bs:hover{box-shadow:0 1px 7px #f31b4b;border:1px solid #f31b4b;}
.blog_posts .thumbnail:hover,
.blog_posts .thumbnail:focus{border:1px solid #f31b4b;box-shadow:0 1px 7px #f31b4b;}

/*style exp*/
.cbp_tmtimeline > li .cbp_tmlabel {
    border-color:#f31b4b;
    border-style:solid;
    box-shadow: 0 0 0 2px #f31b4b;
    box-shadow: 0 1px 7px #f31b4b;
    border: 1px solid #f31b4b;
}
.cbp_tmtimeline:before {background: #f31b4b;}
.cbp_tmtimeline > li .cbp_tmicon {background: #f31b4b;}
.cbp_tmtimeline > li .cbp_tmlabel:after {border-right-color: #f31b4b;border-bottom-color: #f31b4b;}